
# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
*.egg-info/

# Docker
.dockerignore

# Editors
.vscode/
.idea/
*.swp

# .NET build artifacts
bin/
obj/
*.user
*.suo
.vs/
publish/

# Terraform
azure-infra/.terraform/
azure-infra/.terraform.lock.hcl
azure-infra/terraform.tfstate
azure-infra/terraform.tfstate.backup
azure-infra/terraform.tfvars
azure-infra/*.tfplan
